{:deps {org.clojure/clojure      {:mvn/version "1.11.0"}
        org.scicloj/kindly       {:mvn/version "3-alpha8"}
        org.clojure/tools.reader {:mvn/version "1.3.6"}
        carocad/parcera          {:mvn/version "0.11.6"}
        org.antlr/antlr4-runtime {:mvn/version "4.7.1"}}}
