{:aliases
 ;; Build with `clojure -M:dev -m scicloj.claykind.main`
 {:dev {:extra-paths ["notebooks"]
        :extra-deps {org.scicloj/kindly {:mvn/version "4-alpha7"}
                     org.scicloj/claykind {:local/root ".."}}}}}
