{:paths ["src"]
 :deps {org.scicloj/kindly {:mvn/version "4-alpha7"}}
 :aliases
 ;; Build with `clojure -M:dev -m scicloj.claykind.main`
 {:dev {:extra-paths ["dev"]
        :extra-deps {org.scicloj/claykind {:local/root ".."}}}
  ;; Build with clojure -M:clay
  :clay {:main-opts ["-m" "scicloj.claykind.main"]}}}
